body
{
    color: #222;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera 
{
    background-color: darkblue;
    box-shadow: 0px 2px 10px 0px #0006;
    color: #efefef;
    font-weight: bold;
    padding: 1em;
    font-size: 20px;
}
#cabecera span 
{
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #666;
    margin: 0 auto;
}
#container h1 
{
    font-size: 20px;
}
#post {
    padding: 1em;
}